.primeraParte, .segundaParte, .terceraParte {
    margin-bottom: 10px; /* Espaciado entre secciones */
    padding: 20px; /* Opcional: Espaciado interno */
}

.botonSoil{
    width: 40%; /* Ancho ajustable */ 
    position: absolute;
    right: 5%;
}
